---
const profilePicture = "https://i.imgur.com/JPGFE75.jpg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<img
			src={profilePicture}
			alt="Frau Katerina's headshot."
			width="100px"
			height="100px"
		/>
		<div>
			<h1>Frau Katerina</h1>
			<h2>VP of Engineering at Goooogle</h2>
			<p>
				Helping developers be excellent and succeed at building scalable
				products
			</p>
		</div>
	</body>
</html>
